# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
pandas==3.0.1
numpy==2.0.0
matplotlib==3.10.8